/* 加粗 */
.markdown-section strong {
    color: rgb(239, 112, 96);
}
/* 一级标题加粗 */
.markdown-section h1 strong {
    color: #2c3e50;
}
/* 一级标题 */
h1 span{
    display:inline-block;
    background: var(--theme-color,rgb(66, 185, 131));/* 颜色 */
    padding: 10px 16px;/* 上下、左右填充 */
    border-radius: 5px;/* 圆角 */
    box-shadow: 1px 1px 3px black;/* 阴影 */
}
/* 链接 */
.markdown-section a {
	color:var(--theme-color,#4394ca);
	font-weight:600
}
/* 引用 */
.markdown-section blockquote {
	padding:0.01em;
	border-left:4px solid var(--theme-color,#42b983);
}
/* 侧边栏 */
aside.sidebar ul li a {
    line-height: 35px;/* 行高 */
    font-size: 14px;/* 字体 */
    padding: 0 0 0 22px;/* 上、右、下、左填充 */
}
/* 滚动条 */
::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-thumb{
    background: #33a9dc;
    background-image: linear-gradient(#5676cd, #33a9dc);
    border-radius: 2em;
}
/* 分栏 */
:root {
    --docsify-example-panels-document-width: 80%; /* 分栏设置-页边距（影响整体） */
    --docsify-example-panels-left-panel-width : 50%; /* 分栏设置-左栏占比 */
    --docsify-example-panels-right-panel-width : 50%; /* 分栏设置-右栏占比 */
}
:root {
    --docsifytabs-border-color: hsl(0, 0%, 89%);/* 标签设置-边框 */
    --docsifytabs-tab-highlight-color: rgb(0, 0, 0);/* 标签设置-标签 */
}
.markdown-section pre[data-lang] {
	border-radius:5px
}

.sidebar {
    background: hsl(113, 0%, 97%);/* 背景颜色 */
    border-color: hsl(113, 0%, 89%);/* 边框颜色 */
}

.sidebar-toggle {
    background-color: hsl(113, 0%, 97%);/* 边框颜色 */
}

img {
    border-radius: 5px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 15%);
}


.token.comment,.token.prolog,.token.doctype,.token.cdata {
    color: #6e8090
}
.token.punctuation {
    color: #999
}
.token.property,.token.tag,.token.boolean,.token.number,.token.constant,.token.symbol,.token.deleted {
    color: #905
}
.token.selector,.token.attr-name,.token.string,.token.char,.token.builtin,.token.inserted {
    color: #690
}
.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string {
    color: #a67f59
}
.token.atrule,.token.attr-value,.token.keyword {
    color: #07a
}
.token.function {
    color: #dd4a68
}
.token.regex,.token.important,.token.variable {
    color: #e90
}